# Build do Maven
target/

# Allure
allure-results/
allure-report/
.allure/

# IDE - VSCode
.vscode/

# IDE - IntelliJ
.idea/
*.iml

# IDE - Eclipse
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
